node_modules
.env

# Organization
# ABC Manufacturing
#        │
#        ├── User
#        │     Rahul
#        │     SUPER_ADMIN
#        │
#        ├── User
#        │     Amit
#        │     COMPLIANCE_OFFICER
#        │
#        ├── User
#        │     Ravi
#        │     AUDITOR
#        │
#        └── Vendor
#              XYZ Transport
#                   │
#                   └── User
#                        Rakesh
#                        VENDOR